<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daniyar's StravaApp</title>
{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

{% if records %}
    <ul style="margin-top: 10%"><h4 align="center">Most recent records of {{users}}: </h4>
    {% for record in records %}
        
        <li><a href="/appstrava/{{ record.id }}/">{{ record.record_name }}</a></li>
    {% endfor %}
    </ul>
    <a href="/appstrava/" style="margin: 0 auto; display:block;text-align: center" > Back to Main </a>
{% else %}
    <p>No records posted by {{ users }} yet.</p>
{% endif %}
</body>
</html>